
body {

  background-image:url("pattern-background-desktop.SVG");
  background-repeat: no-repeat;
  background-color: rgba(224,232,255,255);
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  
}

.container {
  /* border-width: 2px;
  width: 400px;
  color: black;
  height: 500px; */
  /* border-style: solid; */
  position: fixed;
  top: 70px;
  left: 500px;
  
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  border-radius: 20px;
  height: 595px;
  
  
}
.card-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  
  font-weight: 700;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;

}

.description {
  
  
  
  font-weight: 400;
  font-size: 13px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  margin-bottom: 25px;
  
  
}

.description span {

  padding-left: 70px;
  padding-right: 70px;
  word-spacing: 5px;
}


.img-top{

  width: 400px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* .plan-container {
   
   
  margin-bottom: 25px;
  background-color: rgba(248,249,254,255);
  
  
  
} */

.main {
  
  background-color: rgba(248,249,254,255);
  width: 300px;
  margin-left: 40px;
  
  height: 65px;
  margin-bottom: 25px;
  padding: 10px 15px;
  border-radius: 10px;
  
}
.plan-container{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  
  
}

.plan-section-1{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.plan-name {

  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}

.plan-price {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
}

.plan-section-2 {
  font-size: 14px;
  font-weight: bold;
}

.plan-section-2 a:hover{
  color: rgba(164,161,204,255);
}


.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-button {
  margin-bottom: 25px;
  padding: 15px 105px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  background-color: rgba(56,42,225,255);
  color: white;
  box-shadow: -10px 10px 9px rgba(224,221,250,255);
  cursor: pointer;
  transition: background-color 0.2s;
}

.cancel-order{
  font-size: 13px;
  border: none;
  color: rgba(140,145,165,25);
  background-color: white;
  font-weight: bold;
  text-shadow: 0 0 1.2px  rgba(140,145,165,25);
  cursor: pointer;
  transition: text-shadow 0.15s, color 0.15s;
}

.img-music-div {
  
  margin-top: 10px;
}

.music-icon 
{
  width: 40px;
  margin-right: 20px;
  object-fit: cover;
}

.payment-button:active{
  background-color: rgba(118,108,241,255);
}

.cancel-order:active{
  text-shadow: none;
  color: black;
}
